<h3><strong>My Schemas</strong></h3>
<a class="btn btn-outline-primary" routerLink="/schemas/new">Create a Schema</a>
<table class="table">
  <thead>
  <tr>
    <th>Schema</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let schema of schemas; let i = index;">
    <td><span><a [routerLink]="['/schemas', schema.id]">{{schema.name}}</a></span>
      <div>
        <span class="mr-3 text-secondary" *ngFor="let type of schema.fields">{{type.name}}</span>
      </div>
    </td>
    <td><a class="oi oi-x" style="margin-top: 8px" (click)="deleteSchema(i)"></a></td>
  </tr>
  </tbody>
</table>
