<h3><strong>Schemas</strong></h3>
<a class="btn btn-outline-primary" routerLink="/schemas/new" *ngIf="sessionService.hasRole('user')">Create a Schema</a>
<table class="table table-responsive" *ngIf="schemas?.length != 0">
  <thead>
  <tr>
    <th class="col-md-8">Schema</th>
    <th class="col-md-2">&nbsp;</th>
    <th class="col-md-2">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let schema of schemas; let i = index;">
    <td><span><a [routerLink]="['/users',id,'schemas', schema?.id]">{{schema?.name}}</a></span>
      <div>
        <span class="mr-3 text-secondary" *ngFor="let field of schema?.fields">{{field?.name}}</span>
      </div>
    </td>
    <td>
      <i class="fa fa-pencil mt-1" [routerLink]="['/schemas', schema?.id, 'update']"></i>
    </td>
    <td>
      <i class="fa fa-times mt-1" (click)="deleteSchema(i)"></i>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-info" *ngIf="schemas?.length == 0">Not schema found from this user!</div>
