<h3><strong>My Schemas</strong></h3>
<a class="btn btn-outline-primary" routerLink="/schemas/new">Create a Schema</a>
<table class="table">
  <thead>
  <tr>
    <th>Schema</th>
    <th>Last Modified</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><span><a href="/schemas/80862">schema1</a></span>
      <div><span>id | first_name | last_name | email | gender | ip_address</span></div>
    </td>
    <td class="nowrap light">3 minutes ago</td>
    <td>delete</td>
  </tr>
  <tr>
    <td><span class="record-link"><a href="/schemas/80863">schema2</a></span>
      <div><span class="schema-columns-list">id | first_name | last_name | email | gender | ip_address</span></div>
    </td>
    <td class="nowrap light">less than a minute ago</td>
    <td>
      delete
    </td>
  </tr>
  </tbody>
</table>
