html {
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 3%;
  width: 100%;
}
