<div class="row">
  <div class="col-md-7 col-sm-12">
    <div class="card">
      <h6 class="card-body">
        Need some mock data to test your app?<br>
        Mockery Data lets you generate up to 1,000 rows of realistic test data in JSON, CSV, SQL, and Excel
        formats.
        <div>
          Need more data? <a [routerLink]="['/register']">Sign up now!</a>
        </div>
      </h6>
    </div>
    <div class="card">
      <table class="table table-sm table-striped table-responsive">
        <thead>
        <tr>
          <th>Field Name</th>
          <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input class="form-control" value="id"></td>
          <td><input class="form-control" value="number" style="cursor: pointer"></td>
        </tr>
        <tr>
          <td><input class="form-control" value="name"></td>
          <td><input class="form-control" value="name" style="cursor: pointer"></td>
        </tr>
        <tr>
          <td><input class="form-control" value="email"></td>
          <td><input class="form-control" value="email" style="cursor: pointer"></td>
        </tr>
        <tr>
          <td><input class="form-control" value="nationality"></td>
          <td><input class="form-control" value="country" style="cursor: pointer"></td>
        </tr>
        <tr>
          <td><input class="form-control" value="gender"></td>
          <td><input class="form-control" value="gender" style="cursor: pointer"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container col-md-5">
    <div class="form-group">
      <label class="col-md-3 col-form-label">#Rows:</label>
      <div class="col-md-9">
        <input class="form-control" placeholder="number of rows">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 col-form-label">Format:</label>
      <div class="col-md-9">
        <select class="custom-select form-control">
          <option selected>JSON</option>
          <option>CSV</option>
          <option>XML</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-outline-primary">Preview</button>
        <button class="btn btn-outline-success">Download Data</button>
      </div>
    </div>
  </div>
</div>
