<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../favicon.ico" width="35" height="35" class="d-inline-block align-top">
    </a>
    <a class="navbar-brand" routerLink="/">
      MOCKERY DATA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" *ngIf="sessionService.hasRole('admin')">
            USERS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="schemas" *ngIf="sessionService.isLogin() && sessionService.hasRole('user')">
            SCHEMAS
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="sessionService.isLogin()">
          <a class="nav-link dropdown-toggle" id="userDropdown"
             data-toggle="dropdown" aria-expanded="false">
            Hi, {{sessionService.getUser().username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item">PROFILE</a>
            <a class="dropdown-item" routerLink="logout">LOGOUT</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="!sessionService.isLogin()">
          <a class="nav-link" routerLink="login">LOGIN</a>
        </li>
        <li class="nav-item" *ngIf="!sessionService.isLogin()">
          <a class="nav-link" routerLink="register">REGISTER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container" style="margin-top: 25px">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <hr>
    <span class="text-muted"> © 2017 Mockery Data</span>
  </div>
</footer>
