<div class="col-md-7 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Profile</strong></h3></div>
    <div class="panel-body">
      <form [formGroup]="profileForm">
        <div class="alert alert-danger" *ngIf="profileForm.invalid">
          <li *ngIf="profileForm.controls['firstName'].invalid">
            First name is required!
          </li>
          <li *ngIf="profileForm.controls['lastName'].invalid">
            Last name is required!
          </li>
          <li *ngIf="profileForm.controls['username'].invalid">
            Length of username should between 3 and 10!
          </li>
          <li *ngIf="profileForm.controls['email'].hasError('email')">
            Email format wrong!
          </li>
        </div>
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label class="col-form-label"><strong>First Name:</strong></label>
              <input type="text" formControlName="firstName" class="form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label class="col-form-label"><strong>Last Name:</strong></label>
              <input type="text" formControlName="lastName" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label"><strong>Username:</strong></label>
          <input type="text" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label class="col-form-label"><strong>Email:</strong></label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <button data-toggle="modal" data-target="#pswModal" class="form-control col-md-3 btn btn-primary">Change
            Password
          </button>
          <button (click)="update(profileForm.value)" class="pull-right btn btn-success  col-md-3"
                  [disabled]="profileForm.invalid">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="pswModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Update password
        </h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="alert alert-danger" *ngIf="psw != confirmedPsw">
            Password and confirm password are different!
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-form-label"><strong>New password:</strong></label>
              <input type="password" [(ngModel)]="psw" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-form-label"><strong>Confirm password:</strong></label>
              <input type="password" [(ngModel)]="confirmedPsw" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="update({password:psw})" [disabled]="!(psw?.length > 0 && psw == confirmedPsw)">Update
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
