<div class="col-md-12">
  <h3><strong>Users</strong></h3>
  <div class="card">
    <!--<table class="table table-sm table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Enable</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.status}}</td>
      </tr>
      </tbody>
    </table>-->
    <ng2-smart-table class="table-hover table-striped table-responsive" [settings]="settings" [source]="source" (userRowSelect)="selectUser(data, source)"></ng2-smart-table>
  </div>
</div>
