<div class="row col-md-12 container">
  <a routerLink="/schemas" class="text-left" [routerLink]="['/user', userid, 'schemas']">
    Schema List </a>&nbsp;> {{schema?.name}}
</div>
<ng4-loading-spinner *ngIf="spinner"></ng4-loading-spinner>
<div class="row">
  <div class="col-md-7 col-sm-12">
    <h3><strong>{{schema?.name}}</strong></h3>
    <div class="card">
      <table class="table table-sm table-striped">
        <thead>
        <tr>
          <th>Field Name</th>
          <th>Type/Options</th>
          <th>Blank(%)</th>
          <th>Outlier(%)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of schema?.fields">
          <td>
            <div class="form-control text-primary">{{field?.name}}</div>
          </td>
          <td *ngIf="field?.option == ''">
            <div class="form-control text-info">{{field?.dataType?.name}}</div>
          </td>
          <td *ngIf="field?.option != ''">
            <div class="form-control text-info">{{field?.option}}</div>
          </td>
          <td>
            <div class="form-control text-info">{{field?.blank}}</div>
          </td>
          <td>
            <div class="form-control text-info">{{field?.outlier}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container col-md-5">
    <div class="form-group">
      <label class="col-md-4 col-form-label">#Rows:</label>
      <div class="col-md-8">
        <div class="form-control">{{schema?.count}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 col-form-label">Format:</label>
      <div class="col-md-8">
        <div class="form-control">{{schema?.fileFormat}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button *ngIf="exist" class="btn btn-outline-info col-sm-12 col-md-8 mb-1"
                data-toggle="modal" data-target="#modal" (click)="preview()">Preview
        </button>
        <a *ngIf="exist" class="btn btn-outline-success col-sm-12 col-md-8 mb-1"
           href='/mockdata/api/v1/schemas/{{schema?.id}}/file'>
          Download
        </a>
        <button *ngIf="!exist" class="btn btn-outline-info col-sm-12 col-md-8"
                (click)="generate()">Generate
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="modalLabel">
          Preview (Up to 100)
        </h5>
      </div>
      <div class="modal-body container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#table" role="tab">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#json" role="tab">Json</a>
          </li>
        </ul>
        <div class="tab-content">
          <br/>
          <div class="tab-pane fade show active" id="table" role="tabpanel">
            <ngx-datatable
              #table
              class="material"
              [loadingIndicator]="loadingIndicator"
              [rows]="rows"
              [columns]="headers"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
              [scrollbarH]="true">
            </ngx-datatable>
          </div>
          <div class="tab-pane fade" id="json" role="tabpanel" style="overflow: auto;height: 310px; width: inherit;">
            <pre *ngFor="let row of rows" [innerHTML]="row | json"></pre>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
