<div class="row col-md-12 container">
  <a routerLink="/schemas" class="text-left" [routerLink]="['/user', userid, 'schemas']">
    Schema List </a>&nbsp;> {{schema?.name}}
</div>
<div class="row">
  <div class="col-md-7 col-sm-12">
    <h3><strong>{{schema?.name}}</strong></h3>
    <div class="card">
      <table class="table table-sm table-striped table-responsive">
        <thead>
        <tr>
          <th>Field Name</th>
          <th>Type/Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of schema?.fields" class="justify-content-between">
          <td>
            <div class="form-control text-primary">{{field?.name}}</div>
          </td>
          <td *ngIf="field?.option == ''">
            <div class="form-control text-info">{{field?.dataType?.name}}</div>
          </td>
          <td *ngIf="field?.option != ''">
            <div class="form-control text-info">{{field?.option}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container col-md-5">
    <div class="form-group">
      <label class="col-md-4 col-form-label">#Rows:</label>
      <div class="col-md-8">
        <div class="form-control">{{schema?.count}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 col-form-label">Format:</label>
      <div class="col-md-8">
        <div class="form-control">{{schema?.fileFormat}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-outline-primary col-sm-12 col-md-8 mb-1"
                data-toggle="modal" data-target="#modal" (click)="preview()">Preview
        </button>
        <a class="btn btn-outline-success col-sm-12 col-md-8 mb-1"
                href='/mockdata/api/v1/schemas/{{schema?.id}}/file'>
          Download
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="modalLabel">
          Preview (JSON Format)
        </h5>
      </div>
      <div class="modal-body container">
        <pre *ngFor="let data of previewData" [innerHTML]="data | json"></pre>
        <div class="alert-danger" *ngIf="error">{{error}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
