.type-input {
  cursor: pointer;
  background-color: white;
}

i.fa {
  margin-top: 8px;
  cursor: pointer;
}

i.fa-pencil {
  color: #006b80;
}

.type {
  float: left;
  height: 96px;
  width: 210px;
  line-height: 20px;
  padding: 8px 10px;
  margin: 0 8px 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

.type-name {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  margin-bottom: 2px;
}

.type:hover{
  background-color: #f0f0f0;
}

.type-description {
  color: #606060;
  font-size: 12px;
}

.tab-content{
  overflow: auto;
  height: 300px;
  width: inherit;
}
